@model Viaggio

<div class="container">
    <<div class="row me-5 text-center justify-content-center fluid">
      <div class="col-3">
        <div class="card h-100 shadow">
          <img src="@Model.ImmagineViaggio" class="card-img-top">
          <div class="card-header text-white bg-warning mb-3 fw-bolder fs-5">@Model.TitoloViaggio </div>
        <div class="card-body"> 
          <p class="card-text">@Model.DescrizioneViaggio</p>
        </div>
        <div class="card-footer bg-white">
          <p class="text-succes text-warning">@Model.DurataViaggio giorno/i - @Model.DestinazioniViaggio destinazione/i</p>
          <span class="fw-bolder">@Model.CostoViaggio</span> <span class="text-muted">a persona</span>
        </div>
        </div>
      </div>
    </div>
</div>